:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  background-color:#13134e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  margin: 0;
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center; /* Center content horizontally */
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color:#13134e;
  height: full;
};


h2 {
  /* margin: 30px; */
  align-items:center;
}

nav {
  display: contents;
  position: fixed;
  top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#title {
  font-size: 4em;
  line-height: 1.5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 40px 30px 30px 30px;
  background-color: rgba(113, 8, 136, 0.8);
  border-radius: 8%;
  color:#9397eb;
  border-style:double;
  border-color:#000106;
}

.subtitle {
  color:#dbddf7;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-top: 0.7em;
}

.box {
  font-style:italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #6b72f5;
  font-size: 2.1em;
  font-weight: 500;
  margin: 60px;
  color:#dbddf7;
  box-shadow:  4px 8px rgba(113, 8, 136, 0.9);
}

blockquote {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-top: 1em;
}

#refresh {
  margin-top: 3em;
}

#fav {
  margin: 30px 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.footer {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color:#13134e;
  color: #240926;
  margin-top: 4em;
  position: sticky;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

strong {
  color: #6b72f5;
}

ul {
  font-style:italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #6b72f5;
  font-size: 2.1em;
  font-weight: 500;
  margin: 60px;
  color:#dbddf7;
  box-shadow:  4px 8px rgba(113, 8, 136, 0.9);
}

.quote {
  margin: 1em;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@media screen and (max-width: 768px) {
  body {
    /* Use the background color from :root for larger screens */
    background-color: #223647;
  }
}
